
<h1>About Us!</h1>
<p>we are creating an about page now nigs</p>

<div class="well">
	<p>If you havent noticed we are a true bunch of legends working over at <%= link_to "Addicted 2 Aussie Hip Hop", "https://www.facebook.com/addicted2aussiehiphop", class: "btn btn-info" %></p>
</div>