<div class="jumbotron center">
	<h1>Welcome to my APP!</h1>
	<p> 
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "About", about_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>